@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700&display=swap');
@import url('https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css');

// Bootstrap custom overrides
$theme-colors: (
  "primary"                   : #fed100,
  "warning"                   : #ff4136,
  "success"                   : #8cbe41,
  "light"                     : #f3f3f3,
  "gray-450"                  : #a8a8a8,
  "dark"                      : #323232,
);

$primary                      : #fed100;
$warning                      : #ff4136;
$success                      : #8cbe41;
$light                        : #f3f3f3;
$gray-450                     : #a8a8a8;
$dark                         : #323232;

$sizes: (
  60                          : 60%,
  65                          : 65%,
);

$container-max-widths: (
  sm                          : 540px,
  md                          : 720px,
  lg                          : 960px,
  xl                          : 1170px
);

$enable-responsive-font-sizes : true;

$btn-border-radius            : 0;
$btn-border-radius-lg         : 0;
$btn-border-radius-sm         : 0;
$font-family-sans-serif       : "Open Sans", sans-serif;
$font-family-variant          : "Open Sans Condensed", sans-serif;

$h1-font-size                 : 3.1rem;
$navbar-padding-y             : 1.2rem;
$input-btn-padding-y          : .5rem;
$input-btn-padding-x          : 1.6rem;
$display4-size                : 3.1rem;
$display3-size                : 4.75rem;

$navbar-light-color           : $dark;
$body-bg                      : $light;
$body-color                   : $dark;

// Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Width and height with breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

.display-3 {
  font-family: $font-family-variant;
  max-width: 20*.4em;
  max-width: 20ch;
}

.jumbotron {
  background: url("../img/bg photo.png") no-repeat center/cover;
  height: 100%;
  height: 100vh;
}

.robot {
  top: -60%;
  right: 15%;
}

.stripes {
  top: -25%;
  right: $grid-gutter-width / 2;
}

@keyframes stripes {
  from {
    transform: translate(-110px, 30px);
  }
  to {
    transform: translate(-80px);
  }
}

.stripes * {
  animation: stripes .5s linear infinite;
}

.z-index-1 {
  z-index: 1;
}

.faq:before {
  font-size: 1.6em;
  margin-right: 1em;
}

#contact-us .form-control {
  border: 0;
}

#contact-us label {
  margin-bottom: .2rem;
}

#contact-us ul > li {
  padding-bottom: 3.7em;
  display: flex;
  align-items: center;
}

// Custom styles
@include media-breakpoint-down(sm) {
  .robot {
    width: auto;
    max-height: 100%;
    top: -66%;
    right: 3%;
  }

  .stripes {
    width: auto;
    max-height: 100%;
    top: -25%;
    right: 0;
  }
}